@tailwind base;
@tailwind components;

.box {
  @apply bg-indigo-700 text-gray-100 min-w-full h-16 min-h-full rounded;
}
@tailwind utilities;

/* :root { */
 /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px; */
/*   line-height: 24px;
  font-weight: 400;

  color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

/*   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
/* } */

/* 👁  Main swiper is inside user swiper */

/* MAIN SWIPER */ 
/* .swiper {
  position:unset !important;
  display:flex !important;
} */

#mainSwiper .swiper-slide {
  max-width: 99.99% !important;
}
/* #mainSwiper .swiper-button-prev, #mainSwiper .swiper-rtl .swiper-button-next {
  font-size: 1rem !important;
  margin-top:5px !important;
  z-index:10 !important;
} */

/* #mainSwiper .swiper-button-next, #mainSwiper .swiper-rtl .swiper-button-prev {
  font-size: 1rem !important;
  margin-top:5px !important;
  z-index:10 !important;
} */

/* #mainSwiper .swiper-button-next::after {
  content: "▶" !important;
  font-size: 32px !important;
  z-index: 100 !important;
  margin-top:9.7dvw !important;
  margin-right: 3.5dvw !important;
}
#mainSwiper .swiper-button-prev::after {
  content: "◀" !important;
  font-size:32px !important;
  z-index: 100 !important;
  margin-top: 9.7dvw !important;
  margin-left: 188dvw !important;
} */
/* END MAIN SWIPER */ 


/* USER SWIPER */ 
:root {
  --swiper-navigation-size: 16px !important;
  --swiper-navigation-color: #000 !important;
}

#userSwiper .swiper {
  height:100%;
}
#userSwiper .swiper-button-prev, #userSwiper .swiper-rtl .swiper-button-next {
  left: 10px !important;
  font-size: 1rem !important;
  margin-top:5px !important;
  z-index:10 !important;
}
#userSwiper .swiper-button-next, #userSwiper .swiper-rtl .swiper-button-prev {
  left: 30px !important;
  font-size: 1rem !important;
  margin-top:5px !important;
  z-index:10 !important;
}

#userSwiper .swiper-button-next::after {
  /* color:yellow !important; */
  content: "▶" !important;
  font-size: 16px !important;
  margin-top:0 !important;
  margin-right: 0 !important;
}
#userSwiper .swiper-button-prev::after {
  content: "◀" !important;
  font-size: 16px !important;
  margin-top:0 !important;
  margin-left:0 !important;
  margin-right:0 !important;
}

#userSwiper .swiper-button-next, #userSwiper .swiper-button-prev {
  top: 0 !important;
  display:flex !important;
}
/* END USER SWIPER */

.leaflet-control-attribution a:nth-child(1), .leaflet-control-attribution span {
  display:none;
}